.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.icon-feature-list{
    display: inline-block;
    width: 270px;
    height: 120px;
    padding-left: 100px; 
    padding-right: 100px; 
    margin-bottom: 30px;
    border-radius: 4px;

    background: $accessorial-background-color;
}

.feature-title,
.footer-title,
.service-item-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.section-item{
    color: $secondary-text-color;
    line-height: 1.71;
    margin: 0;
}

.feature .container{
    padding: 94px 0px 94px;
}

.feature-list{
    display: flex;
    padding: 0;
    margin: 0;
}

.feature-list-item:not(:last-child),
.service-item:not(:last-child){
    margin-right: 30px;
}

.feature-list-item{
    width: calc((100%-3*30)/4);
}

.subtitle{
    margin-top: 0;
    margin-bottom: 10px;
}
